*{
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #58079e;
    
}


form{
    border: 1px solid #9d41f8;
    background-color: #6505c5;
    padding: 10px 20px;
    width: 100%;
    max-width: 600px;
    display:flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 0 0 25px rgba(207, 118, 241, 0.7);
    border-radius: 10px;

}
.form-row {
    display: flex;
    align-items: center; 
    gap: 10px; 
    outline: none;
    
    
}

.form-row label {
    flex: 0 0 10px; 
    text-align: center; 
    
    
}

.form-row input {
    flex: 1; 
    padding: 10px;
    font-size: 16px;
    box-shadow: 0 15px 25px rgba(209, 158, 233, 0.7);
    border-radius: 10px;
    outline: none;
    
}

button {
    align-self: center; 
    background-color: #ff6347;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 10px 15px rgba(230, 136, 129, 0.7);
    border-radius: 10px;
   
}

button:hover {
    background-color: #9232ff;
}
.sushi img{
   align-items: center;
   width: 300px;
   height: 300px;
   box-shadow: 5px 15px 25px rgba(209, 158, 233, 0.7);
    border-radius: 50%;
}
.radio-group{
    display: flex;
    flex-direction: row;
    gap: 5px;
    width: 100%;
    
}

.input-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap:  5px;
    width: 100%;
    

}
.input-container input {
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: 0.375rem 0.75rem;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    color: #212529;
    background-color: #fff;
    border: 1px solid #bdbdbd;
    border-radius: 0.25rem;
    
}
.input-container textarea{
    height: 25px;
    font-size: 17px;
    padding: 0  15px;
    border: none;
    background:rgb(217, 217, 217) ;
    max-width: 100%;
    min-width: 100%;
    max-height: 300px;
    min-height: 150px;
}